# Core
pip==25.2
psycopg2-binary==2.9.9
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.9.2
plotly==5.24.0
wordcloud==1.9.3

# Dashboard
streamlit==1.37.1

# Backend
fastapi==0.110.0
uvicorn==0.29.0
pymongo==4.6.1
python-dotenv==1.0.1

# Machine Learning
scikit-learn==1.4.2

# HTTP Request
requests==2.32.3